header {
    display: flex;
    background-color:bisque;
    
}

nav {
    padding: 25px;
    word-spacing: 25px;
    
}

section {
    padding: 25px;
    margin-left: 650px;
}

body {
  background-color:blanchedalmond;
  text-align: center;
}

.mosaic {
  display: flex;
  flex-wrap: wrap; 
  gap: 30px; 
  justify-content: center;
}

.mosaic img {
  width: 250px; 
  height: 250px; 
  object-fit: cover; 
  border: 1px solid #ccc; 
  }

  .realisation {
    text-align: center;
  }

  h1 {
    color: red;
    font-style: italic;
  }

  .mosaic img {
    box-sizing: border-box;
    border-radius: 15px;
  }
  

 



